body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.note {
  background-color: #fef68a;
  min-height: 12rem;
  min-width: 12rem;
  max-width: 12rem;
  max-height: 12rem;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editor-container {
  overflow-y: auto;
}